<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>中投天成金融服务外包金融服务外包有限公司</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="成都贷款公司,成都抵押贷款,成都信用贷款,成都贷款,成都融资，企业融资，贷款,个人贷款,小额贷款,贷款公司,银行贷款,贷款网" />
<script type="applijewelleryion/x-javascript">
	addEventListener("load", 
		function() { 
			setTimeout(hideURLbar, 0); 
		}, 
		false
	); 
	function hideURLbar(){ 
		window.scrollTo(0,1); 
	} 
</script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->

<!--<link href='//fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });
	});
</script>
<!--animate-->
<link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/js/wow.min.js"></script>
<script>new WOW().init();</script>
<!--slide-->
<link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
<!--slide-->	
<!--//end-animate-->

</head>
<body>
<!-- navigation -->
<!-- banner -->
<div class="banner">
	<div class="container">
		<div class="navigation wow fadeInLeft animated" data-wow-delay=".5s">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right link-effect">
						<li><a href="#home" class="scroll">主页</a></li>
						<li><a href="#about" class="scroll">公司简介</a></li>
						<li><a href="#service" class="scroll">服务项目</a></li>
						<li><a href="#news" class="scroll">行业动态</a></li>
						<li><a href="#contact" class="scroll">联系我们</a></li>
						<div class="clearfix"></div>
					</ul>		
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="col-md-8">>
			<div id="Slide1" class="zy-Slide wow fadeInLeft animated" data-wow-delay=".5s">
				<ul>
					<li><img src="/static/images/1.jpg" /></li>
					<li><img src="/static/images/2.jpg" /></li>
					<li><img src="/static/images/3.jpg" /></li>
					<li><img src="/static/images/4.jpg" /></li>
					<li><img src="/static/images/5.jpg" /></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 banner-info">
			<div class="logo wow fadeInRight animated" data-wow-delay=".5s">
				<img src="/static/images/logo.png">
			</div>
			<h1 class="wow fadeInRight animated" data-wow-delay=".5s">中投天诚</h1>
			<p class="wow fadeInRight animated" data-wow-delay=".5s">您专属的融资顾问</p>
			<p class="wow fadeInRight animated eng" data-wow-delay=".5s">YOUR PROPRIETARY FINANCIAL ADVISOR</p>
		</div><!--banner-info end-->		
	</div>
</div>
<!-- //navigation -->
<!-- /banner -->
<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="col-md-6 about-left wow fadeInLeft animated" data-wow-delay=".5s">
				<h3>关于我们</h3>
				<p>
				<strong>中投天诚金融服务外包有限公司</strong>，是一家专注为企业提供金融服务外包的专业性融资服务公司，公司成立于北京，
				与国内外500多家金融机构合作。业务设计政府平台公司融资、信托、融资租赁、PPP项目融资、企业融资、PPN发债等。	
				</p>	
			</div>
			<div class="col-md-6 about-left wow fadeInRight animated" data-wow-delay=".5s">
				<img src="/static/images/com.jpg" alt="" class="img-responsive">
			</div>
			<div class="clearfix"></div>
			<div class="what wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">
				<h3>我们在做什么？</h3>
				<p>公司响应国家号召，立足于为中小企业提供金融外包服务，用专业的知识和专业的团队帮助中小企业解决因融资无规划、
				融资不专业而导致的融资难、融资贵等问题，让企业主不再为资金分新发愁，可以更高效的做好企业经营管理。</p>
			</div>
			<div class="ui-1">
				<div class="col-md-6 ui-1-grd1 wow fadeInLeft animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<div class="ui-1-top">
						<div class="col-xs-3 ui-1-left">
							<img src="/static/images/icons/team.png">
						</div>
						<div class="col-xs-9 ui-1-right">
							<h4>专业的融资团队</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 ui-1-grd1 wow fadeInRight animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<div class="ui-1-top">
						<div class="col-xs-3 ui-1-left">
							<img src="/static/images/icons/money.png">
						</div>
						<div class="col-xs-9 ui-1-right">
							<h4>更高的融资额度</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
				<div class="col-md-6 ui-1-grd1 wow fadeInLeft animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<div class="ui-1-top">
						<div class="col-xs-3 ui-1-left">
							<img src="/static/images/icons/ways.png">
						</div>
						<div class="col-xs-9 ui-1-right">
							<h4>广泛的融资渠道</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 ui-1-grd1 wow fadeInRight animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<div class="ui-1-top">
						<div class="col-xs-3 ui-1-left">
							<img src="/static/images/icons/choice.png">
						</div>
						<div class="col-xs-9 ui-1-right">
							<h4>丰富的融资产品</h4>
						</div>
						<div class="clearfix"></div>
					</div>
				</div><!--bolock-end-->
				<div class="col-md-6 ui-1-grd1 wow fadeInLeft animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<div class="ui-1-top">
						<div class="col-xs-3 ui-1-left">
							<img src="/static/images/icons/serve.png">
						</div>
						<div class="col-xs-9 ui-1-right">
							<h4>完善的融资顾问</h4>
						</div>
						<div class="clearfix"></div>
					</div>
				</div><!--bolock-end-->
				<div class="col-md-6 ui-1-grd1 wow fadeInRight animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<div class="ui-1-top">
						<div class="col-xs-3 ui-1-left">
							<img src="/static/images/icons/chance.png">
						</div>
						<div class="col-xs-9 ui-1-right">
							<h4>更高的成功率</h4>
						</div>
						<div class="clearfix"></div>
					</div>
				</div><!--bolock-end-->
			</div>
		</div>
<!-- /about -->	
		<!-- mid-bann -->
		<div class="mid-bann">
			<div class="container">
				<div class="mid-bann-info">
					<div class="col-md-4 mid-left animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms">
						<ul>
							<li><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></li>
							<li><h5>532家</h5></li>
							<h6>合作机构</h6>
						</ul>
					</div>
					<div class="col-md-4 mid-left animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms">
						<ul>
							<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
							<li><h5>8658位</h5></li>
							<h6>服务客户</h6>
						</ul>
					</div>
					<div class="col-md-4 mid-left animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms">
						<ul>
							<li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
							<li><h5>8.9亿</h5></li>
							<h6>累计融资</h6>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
<!-- /mid-bann -->
<!-- three -->
	<div class="three-steps">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">融资模式</h3>
			<p class="animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms">
			</p>
			<div class="three">
				<div class="col-md-4 three-left animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
					<label> </label>
					<h4>规划期</h4>
					<br>
					<ol style="text-align: left;">
						<li>按企业实际情况，规划初期融资需求方案。</li>
						<li>帮助企业合法规避各类金融风险，做好时刻融资准备。</li>
						<li>合理利用企业信用额度，使企业资产最大化。</li>
						<li>利用金融杠杆，做到企业规模、利润最大化。</li>
					</ol>
				</div>
				<div class="col-md-4 three-left animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
					<label> </label>
					<h4>融资期</h4>
					<br>
					<ol style="text-align: left;">
						<li>根据企业资质和需求，选择银行和金融机构中最适合、性价比最高的融资产品</li>
						<li>用专业的服务和丰富的资源，使企业融资成功率最大化</li>
						<li>融资期间提供全程专业的融资代理服务</li>
					</ol>
				</div>
				<div class="col-md-4 three-left animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">
					<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
					<h4>融资后</h4>
					<br>
					<ol style="text-align: left;">
						<li>协助企业完善融资后的各类资源合理配置</li>
						<li>针对企业各发展阶段，提供最优最新的融资方案</li>
						<li>从金融角度，对企业战略规划提供专业性建议</li>
						<li>实时提供国家各类金融政策及分析，为企业发展提供导向服务。</li>
					</ol>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- /three -->
	<!-- work -->
	<section class="service" id="service">
		<div class="container">
	        <div class="row">
	            <div class="col-md-12 service-intro white">
	                <h3 class="page-headline large text-center">服务项目</h3>
	                <br>
	                <br>
	            </div>
	        </div>
	    </div><!--headline end-->
	    <div class="container">
	        <div class="row service-table">
	            <div class="col-md-3 animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">
	                <div class="panel">
	                    <div class="panel-heading  bg1">
	                    	<h3 class="text-center">信用贷款</h3>
	                    </div>
	                    <div class="panel-body text-center">
	                        <div class="service-circle bg1">
	                        	<span class="glyphicon glyphicon-credit-card"></span>
	                        </div>
	                        <a class="scroll btn btn-lg btn-block btn-info bg1" href="#contact">现在就贷</a>
	                    </div>
	                    <ul class="list-group list-group-flush">
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 快至当天放贷</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 门槛低，月薪两千以上</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 信用保证，无需抵押</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 手续简单，只需基础材料</li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-3 animated wow fadeInUp" data-wow-duration="800ms" data-wow-delay="500ms">
	                <div class="panel">
	                    <div class="scroll panel-heading bg2"><h3 class="text-center">抵押贷款</h3></div>
	                    <div class="panel-body text-center">
	                        <div class="service-circle bg2">
	                        	<span class="glyphicon glyphicon-home"></span>
	                        </div>
	                        <a class="scroll btn btn-lg btn-block btn-info bg2" href="#contact">现在就贷</a>
	                    </div>
	                    <ul class="list-group list-group-flush">
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 贷款额度高至评估价10成</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 流程简化</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 贷款期限可选择</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 先息后本，等额本息可选</li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-3 animated wow fadeInUp" data-wow-duration="800ms" data-wow-delay="500ms">
	                <div class="panel">
	                    <div class="scroll panel-heading bg3"><h3 class="text-center">企业融资</h3></div>
	                    <div class="panel-body text-center">
	                    	<div class="service-circle bg3">
	                    		<span class="glyphicon glyphicon-usd"></span>
	                    	</div>
	                       	<a class="scroll btn btn-lg btn-block bg3" href="#contact">现在就贷</a>
	                    </div>
	                    <ul class="list-group list-group-flush">
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 可作上亿融资</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 顾问定制方案，省时省力</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i>利率低，还款压力小</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 先息后本、等额本息</li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-3 animated wow fadeInDown" data-wow-duration="800ms" data-wow-delay="500ms">
	                <div class="panel">
	                    <div class="scroll panel-heading bg4"><h3 class="text-center">短期贷款</h3></div>
	                    <div class="panel-body text-center">
	                        <div class="service-circle bg4">
	                        	<span class="glyphicon glyphicon-flash"></span>
	                        </div>
	                        <a class="scroll btn btn-lg btn-block bg4" href="#contact">现在就贷</a>
	                    </div>
	                    <ul class="list-group list-group-flush">
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 按天计息，随借随还</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 快至一小时拿钱</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 各种短期，应急贷款</li>
	                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 先息后本，压力小</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- work -->
	<!--signwords-->
	<div class="news">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 news-left wow fadeInLeft animated" data-wow-delay=".5s">
				<label></label>
				<h3>经营企业，您更专业！寻找资金，我们更专业！</h3>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--signwords-->
	<!--- news-1 -->
	<div class="news-1" id="news">
		<div class="container">
			<h3 class="animated wow fadeInLeft animated" data-wow-duration="800ms" data-wow-delay="500ms">行业动态</h3>
			<div class="news-1-bottom">
				<div class="col-md-6 news-1-left wow fadeInLeft animated" data-wow-delay=".5s">
					<div class="im-left">
						<img src="/static/images/new1.jpg" alt="" class="img-responsive">
					</div>
					<div class="tex-right">
					<h4><a href="#">11家银行领罚单</a></h4>
					<p style="text-indent: 2em;">
						上周，银监会浙江监管局和上海监管局公示了新一批行政处罚信息，11家银行赫然在列，
						受罚原因多为贷款业务出现不合规操作，包括向不符合条件的借款人发放贷款，部分贷款资金流入证券资金账户，
						贷款发放不审慎以及贷款资金回流等。
					</p>
					<ul>
						<li><i class="glyphicon glyphicon-calendar"> </i>2016-12-5&nbsp10:57</li>
					</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 news-1-left wow fadeInRight animated" data-wow-delay=".5s">
					<div class="im-left">
						<img src="/static/images/new2.jpg" alt="" class="img-responsive">
					</div>
					<div class="tex-right">
					<h4><a href="#">英国住房抵押贷款大幅增加</a></h4>
					<p style="text-indent: 2em">
						尽管英国央行对住房抵押贷款的限制，英国住房抵押贷款仍然创下纪录水平。
						英国一项研究显示，商业银行对购房者发放的住房抵押贷款平均为借贷者收入的4.1倍。
						英国央行认为，许多银行以低于监管者规定的4.5%的低利率水平大量发放住房抵押贷款。
					</p>
					<ul>
						<li><i class="glyphicon glyphicon-calendar"> </i>2016-12-5&nbsp10:57</li>
					</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
   	<!--- news-1 -->
	<!--- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">联系我们</h3>
			<p class="animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">
				无论是资金周转，还是扩张经营，资金需求是任何一家企业老板都要面对的难题；
				无论您的企业现在是否有融资需求，一支专业的融资顾问团队会让您的资金风险抵抗能力大大加强；
				我们能给您提供的，是更多的融资渠道选择和更专业的融资顾问服务；
				如果有任何融资方面的问题或需求，欢迎随时与我们联系
			</p>
			<div class="contact-bottom">
				<div class="col-md-8 contact-left wow fadeInLeft animated" data-wow-delay=".5s">
					<div class="row">
						<div class="col-md-2">
							<span class="glyphicon glyphicon-shopping-cart">
							</span>
						</div>
						<div class="col-md-10 col-md-pull-2">
							<h4>我们会第一时间与您联系</h4>
						</div>
					</div>
					<form class="form-horizontal" role="form" method="POST" action="">
					  <div class="form-group">
					    <label class="col-md-2 control-label" for="formGroupInputLarge" >姓名：</label>
					    <div class="col-md-10">
					      <input class="form-control" type="text" id="formGroupInputLarge"  name="name"placeholder="请输入您的称呼">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-2 control-label" for="formGroupInputSmall">贷款金额：</label>
					    <div class="col-md-10">
					      <input class="form-control" type="text" id="formGroupInputSmall" name="account" placeholder="万元">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-2 control-label" for="formGroupInputSmall">联系电话：</label>
					    <div class="col-md-10">
					      <input class="form-control" type="text" id="formGroupInputSmall" name="phonenum"placeholder="请输入联系方式">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-md-10 col-lg-offset-2">
					      <input class="form-control" type="text" id="formGroupInputSmall" name="verify" placeholder="验证码">
					    </div>
					  </div>
		              	<div class="form-group">
		  	              <div class="col-md-offset-2 col-lg-5">
		  	                <button type="submit" class="btn" onclick="">提交</button>
		  	              </div>
		              	</div>     
					</form>
				</div>
				<div class="col-md-4 contact-right wow fadeInRight animated" data-wow-delay=".5s">
					<div class="contact-top">
						<div class="row">
							<div class="col-md-2">
								<span class="glyphicon glyphicon-map-marker" style="" aria-hidden="true"></span>
							</div>
							<div class="col-md-10">
								<h4>地址：</h4>
								<br>
								<h5>成都市高新区天府大道28号茂业中心B座2110</h5>
							</div>
						</div>
					</div>
					<div class="contact-top">
						<div class="row">
							<div class="col-md-2">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							</div>
							<div class="col-md-10">
								<h4>免费咨询热线：</h4>
								<br>
								<h5>400-993-1633</h5>
							</div>
						</div>
					</div>
					<div class="contact-top">
						<div class="row">
							<div class="col-md-2">
								<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
							</div>
							<div class="col-md-10">
								<h4>官方微信</h4>
								<br>
								<img src="/static/images/webchat.png" alt="">
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
<!-- contact -->	 
	<!--companion-->
	<div class="companion">
		<div class="container">
			<h3 class="animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">合作伙伴</h3>	
			<img class="animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms" src="static/images/icons/bank.png" alt="哎呀！图片不见了">
		</div>
	</div>
	<!--companion-->
	<!--- footer-->	
	<div class="footer">
		<div class="container">
			<p class="animated wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="500ms">
				友情链接：
				<a href="http://www.ccb.com/" target="_blank">建设银行</a>
				<a href="http://www.icbc.com.cn/icbc/" target="_blank">工商银行</a>
				<a href="http://www.abchina.com/cn/" target="_blank">农业银行</a>
				<a href="http://www.boc.cn/" target="_blank">中国银行</a>
			</p>
			<p class="animated wow fadeInDown animated" data-wow-duration="800ms" data-wow-delay="500ms">
				© 2016 版权归中投天诚金融服务外包（北京）有限公司所有 | 技术支持：
				<a href="mailto:1726690348@qq.com" target="_blank">ZTF</a> 
			</p>
		</div>
	</div>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 0;">
		</span> 
		<span id="toTopHover" style="opacity: 0;">
		</span>
	</a>
<!--- footer -->	
</body>
<script src="/static/js/jquery.zySlide.js"></script>
<script src="/static/js/index.js"></script>
</html>