body{
	padding-top: 70px;
}
.login{
	padding-top: 60px;
	width: 500px;
	height: 300px;
	border:3px solid #2b90d9;
	border-radius: 10px; 
	margin-top: 100px;
}
.logo h2{
	color: #2b90d9;
	text-align: center;
	vertical-align: middle;
}
.login_info{
	vertical-align: center;
}